@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");

/******global styles******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

/******end******/
/******header******/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
}

header .logo {
  position: relative;
  max-width: 100px;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 40px;
  transition: all 0.4s ease-in-out;
}

header .navigation li a:hover {
  transform: scale(1.1);
}

.navigation li a.active {
  border-bottom: 1px solid #fff;
  transform: scale(1.1);
}

.section_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background: #161616;
}
/******main******/

.section_container p {
  color: #fff;
  font-size: 1.3rem;
}

#section1 .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #555;
  clip-path: circle(70% at right 20%);
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox {
  position: relative;
  max-width: 500px;
  margin-right: 2.5rem;
  margin-top: 4rem;
}

.textBox p {
  color: #fff;
  line-height: 2rem;
}

.textBox a {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 4rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 1.5rem;
}

.textBox a:hover {
  background: #fff;
  color: #000;
}

.imgBox {
  width: 500px;
  display: flex;
  justify-content: center;
}

.imgBox img {
  max-width: 250px;
}

/******slider******/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  display: block;
  width: 100%;
}

/******end******/
/******end******/

footer {
  position: relative;
}

footer .sci {
  position: absolute;
  bottom: 40px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .sci li {
  list-style: none;
}

footer .sci li a {
  display: inline-block;
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

footer .sci li a:hover {
  background-color: #000;
  transform: translateY(-10px);
}

footer .sci li a img {
  filter: invert(1);
  transform: scale(0.5);
}

/******media queries******/
@media (max-width: 991px) {
  header {
    padding: 10px 40px;
  }

  header .navigation {
    display: none;
  }

  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }

  .toggle:hover {
    transform: scale(1.2);
  }

  .toggle.show {
    position: fixed;
    right: 40px;
    background: url(./assets/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header .navigation.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .navigation li a {
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
  }

  section {
    padding: 150px 40px;
  }

  .sci {
    left: 40px;
  }

  .content {
    flex-direction: column;
  }

  .content .textBox,
  .content .imgBox {
    max-width: 100%;
    text-align: center;
  }

  .content .textBox a {
    background-color: #222;
    transition: all 0.2s ease-in-out;
  }

  .content .textBox a:hover {
    background-color: #fff;
    color: #000;
  }
}
