@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");

/******global styles******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

header .logo {
  position: relative;
  max-width: 100px;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

/******main******/
.section_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
}

#section1 .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c054d;
  clip-path: circle(70% at right 20%);
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  margin-right: 20px;
  margin-top: 3rem;
}

.content .textBox h2 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-weight: 700;
}

.content .textBox p {
  color: #fff;
  line-height: 1.5rem;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #3c054d;
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.content .textBox a:hover {
  background: #fff;
  color: #3c054d;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: center;
}

.content .imgBox img {
  max-width: 200px;
}

/******slider******/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  display: block;
  width: 100%;
}

/******end******/

footer {
  position: relative;
}

footer .sci {
  position: absolute;
  bottom: 40px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .sci li {
  list-style: none;
}

footer .sci li a {
  display: inline-block;
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

footer .sci li a:hover {
  background-color: #3c054d;
  transform: translateY(-10px);
}

footer .sci li a img {
  filter: invert(1);
  transform: scale(0.5);
}

/******cards section******/
.section-container__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section-container__wrapper .card {
  position: relative;
}

.container .card .face {
  width: 100px;
  height: 100px;
  transition: all 0.5s;
}

.section-container__wrapper .card .face.face1 {
  position: relative;
  background: #ccc;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 20px 20px 0px 0px;
}

.section-container__wrapper .card:hover .face.face1 {
  transform: translateY(0px);
  background: #3c054d;
  transition: all 0.5s ease-in-out;
}

.section-container__wrapper .card .face.face1 .card__content {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.section-container__wrapper .card:hover .face.face1 .card__content {
  opacity: 1;
}

.section-container__wrapper .card .face.face1 .card__content img {
  max-width: 100px;
}

.section-container__wrapper .card .face.face1 .card__content h3 {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
}

.section-container__wrapper .card .face.face2 {
  opacity: 0.5;
  width: 300px;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
}

.section-container__wrapper .card .face.face2 p {
  margin: 0;
  padding: 0;
}
.section-container__wrapper .card .face.face2 a {
  margin: 15px 0 0;
  display: inline-block;

  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.section-container__wrapper .card .face.face2 a:hover {
  background: #333;
  color: #fff;
  transform: translateY(-100px);
}

.section-container__wrapper .card:hover .face.face2 a:hover {
  transform: translateY(0px);
}

/******end******/

/******media queries******/
@media (max-width: 991px) {
  header {
    padding: 10px 40px;
  }

  header .navigation {
    display: none;
  }

  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }

  .toggle:hover {
    transform: scale(1.2);
  }

  .toggle.active {
    position: fixed;
    right: 40px;
    background: url(./assets/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .navigation li a {
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
  }

  .navigation li a:hover {
    transform: scale(1.3);
  }

  section {
    padding: 150px 40px;
  }

  .sci {
    left: 40px;
  }

  .content {
    flex-direction: column;
  }

  .content .textBox,
  .content .imgBox {
    max-width: 100%;
    text-align: center;
  }

  .content .textBox a {
    background-color: #222;
    transition: all 0.2s ease-in-out;
  }

  .content .textBox a:hover {
    background-color: #fff;
    color: #000;
  }

  .swiper-slide {
    width: 30%;
    height: 200px;
  }
}
